@import "utils/vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	/**/
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	/**/
	.header-h1{
		font-size: 2rem;
	}
	.header-span{
		font-size: 1rem;
	}
	
}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
	.mobile-menu__list{
		flex-direction: column;
	}
	.margin-mobile-link{
		padding-left: 0;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
	.mobile-menu__list{
		flex-direction: row;
	}
	.margin-mobile-link{
		padding-left: 10px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}
