@import "utils/vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	/**/
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	/**/
	
	
}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
	.mobile-menu__list{
		flex-direction: column;
	}
	.margin-mobile-link{
		padding-left: 0;
	}
	.header-h1{
		font-size: 2rem;
	}
	.header-span{
		font-size: 1rem;
	}
	.about__content{
		justify-content: space-around;
	}
	.about__text{
		padding: 0 1rem;
	}
	.about__button{
		padding-bottom: 1rem;
	}
	// .works__list{
	// 	margin-right: 10px;
	// }
	// .works__list-link{
	// 	font-size: 13px;
		
	// }
	.contacts__form-input,
	.contacts__form-button{
		width: 80%;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
	.mobile-menu__list{
		flex-direction: row;
	}
	.margin-mobile-link{
		padding-left: 10px;
	}
	.contacts__form-input,
	.contacts__form-button{
		width: 100%;
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
	.header-h1{
		font-size: 4.1875rem;
	}
	.header-span{
		font-size: 1.375rem;
	}
	.about__content{
		justify-content: space-between;
	}
	.about__text{
		padding: 0;
	}
	.about__button{
		padding-bottom: 0;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}
