html, body{
	height: 100%;
}

body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	color: $font-color;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}
h1{
	font-family: $h-font;
	font-size: 4.1875rem;
	font-weight: $regular;
	text-transform: uppercase;
	color: #ffffff;
}
h2{
	font-family: $h-font;
	font-family: $h-font;
	font-weight: $semi-bold;
	font-size: 1.5rem;
	line-height: 20px;
	text-transform: uppercase;
}
h3{
	font-family: $h-font;
	font-size: 1rem;
	color: $font-color;
	font-weight: $regular;
	line-height: 24px;
	text-transform: uppercase;	
}
h4{
	font-family: $h-font;
	color: #ffffff;
	font-size: 0.875rem;
	text-transform: uppercase;
	line-height: 24px;
	font-weight: $regular;
}
h5{
	font-family: $h-font;
	font-size: 2.8rem;
}
h6{
	font-family: $h-font;
	font-size: 2.5rem;
}